src/main/resources/xsd/category.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CategoryListDTO" type="CategoryListDTOType"/>
    <xs:complexType name="categoriesType">
        <xs:sequence>
            <xs:element type="xs:byte" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="name" minOccurs="0"/>
            <xs:element type="categoriesType" name="categories" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CategoryListDTOType">
        <xs:sequence>
            <xs:element type="categoriesType" name="categories"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

